@model dynamic
@{
    ViewBag.Title = "Build";
}

<h2>Build</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Owner</label>
        <div class="col-md-10">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control">
                <option>Red</option>
                <option>Green</option>
                <option>Blue</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>