@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h2>Mockups</h2>

<ul>
    <li><a asp-action="Sushi">Sushi</a></li>
    <li><a asp-action="SushiSelected">Sushi (selected)</a></li>
    <li><a asp-action="Checkout">Checkout</a></li>
    <li><a asp-action="Receipt">Receipt</a></li>
</ul>