@model dynamic
@{
    ViewBag.Title = "Sushi";
}

<h2>Sushi</h2>

<form class="form-horizontal">
    <table class="table row">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Remains</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Alaska roll</td>
                <td>5</td>
                <td><button class="btn btn-default">Add</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>California roll</td>
                <td>5</td>
                <td><button class="btn btn-default">Add</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Philadelphia roll</td>
                <td>5</td>
                <td><button class="btn btn-default">Add</button></td>
            </tr>
        </tbody>
    </table>
</form>